/* 全局样式 */
.top-pad-1 { padding-top: 10px }
.top-pad-2 { padding-top: 20px }
.right-pad-1 { padding-right: 10px }
.left-pad-1 { padding-right: 10px }
.top-margin-1 { margin-top: 10px }
.left-margin-1 { margin-left: 10px }
.left-margin-2 { margin-left: 20px }
.right-margin-1 { margin-right: 10px }
.must-fill { color: red; font-weight: bolder }
.error { color: red; background-color: #ffded8; font-style: italic }
.width-1 { width: 10px }
.heigh-full { height: 100% }
.middle { float: none; display: inline-block; vertical-align: middle; }
.pointer { cursor: pointer; }
.drag-move { opacity: 0.6; z-index: 20; }

.loader-05 {
    display: inline-block;
    width: 4em;
    height: 4em;
    color: inherit;
    vertical-align: middle;
    pointer-events: none;
}

.loader-05 {
    color: white;
    border: .8em solid transparent;
    border-top-color: currentcolor;
    border-radius: 50%;
    -webkit-animation: 1s loader-05 linear infinite;
    animation: 1s loader-05 linear infinite;
    position: relative;
}

.loader-05:before {
    content: '';
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    top: -.8em;
    left: -.8em;
    border: .8em solid currentcolor;
    border-radius: 50%;
    opacity: .5;
}

@-webkit-keyframes loader-05 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-05 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}